@charset "utf-8";

:root
{

    --corFrames: #35B0B0;
    --corTextos: #f3f3f3e8;
    
}

body
{
    
    background-color: #35b0b0c5;
    max-width: 1800px;
    min-width: 250px;
    
}

header
{
    
    background-color: var(--corFrames);
    max-width: 1800px;
    min-width: 250px;
    width: 60%;
    height: 100px;
    margin-top: 0.5%;
    margin-left: 28%;
     

}

h1#header
{
    text-align: center;
    padding-top: 1%;
    color: #f1f1f1;
    font-family: 'Lobster', cursive;    
    
}

article
{
    background-color: var(--corFrames);
    max-width: 1800px;
    min-width: 250px;
    width: 60%;
    height: 570px;    
    margin-left: 28%;

}

aside
{
    background-color: var(--corFrames);
    max-width: 1800px;
    min-width: 250px;
    width: 25%;
    height: 800px;
    margin-top: -53.7%;
    margin-left: 1%;
}

div.line
{
    
    display: inline-block;
    margin-left: 25%;

}

p.article
{
    color: var(--corTextos);
    font-size: 20px;
    text-indent: 8px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
}

p.perfil
{
    color: var(--corTextos);
    font-size: 20px;
    text-indent: 8px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}

p#footer
{
    font-size: 25px;
}

p.projects
{
    font-size: 18px;
    margin-left: -8px;
    
}

p,h1,ul#aside
{
    color: var(--corTextos);
    
}



h1#aside
{
    text-align: center;
    padding-top: 7px;
    font-size: 30px;
}

h2.aside
{
    color: var(--corTextos);
}

h2
{
    color: var(--corTextos);
    text-align: center;
}

a
{
    text-decoration: none;
    color: var(--corTextos);
    
}



a:hover
{
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.582);
}

p#footer
{
    text-align: center;
}

img#aside
{
    padding-left: 25%;
}

