@charset "UTF-8";

table 
{
    
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 8%;   

}

td, th 
{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    font-size: 1.2em;
}

caption
{
    
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(236,236,236);
    padding: 5px;

}

thead
{
    
    background-color: #636363;
    color: white;

}

tfoot
{
   
    background-color: #636363;
    color: white;
    font-weight: bolder;

}

tbody > tr:nth-child(even)
{
    background-color: #dddddd;
}

tbody > tr:nth-child(odd)
{
    background-color: #ffffff;
}