*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: rgb(49, 49, 45);
    list-style-position: inside;
    margin-left: 5px;
    margin-top: 15px;
    margin-block-end: 10px;
    
}

    body
    {        
        background-repeat: no-repeat;        
        background-size: 1150px;                
        background-position-x:395px;
        background-position-y:20px;
        background-color: rgb(236, 252, 149);              
        background-image: url(https://tinyurl.com/ycoaucx8);      
       
    }

    
    

